{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}
  {% block pagecontent %}
  <div class="container">
    <div class="row row-main row-profile-home-image">
      <img src="http://lorempixel.com/output/nightlife-q-c-640-480-5.jpg">
    </div>
    <div class="row row-main row-profile-home">
      <i class="fa fa-user profile-icon" aria-hidden="true"></i>
      <h5>{{ user.first_name }} {{ user.last_name }}</h5>
        <p>I am the best at pickup games</p>
        <div class="row row-profile-snippet">
          <div class="col">
            Organized: 1
          </div>
          <div class="col">
            Played: 1
          </div>
        </div>
    </div>
    <div class="row row-main">
      <h5>Activity</h5>
        {% for gameuser in games_list %}
          <p>{{ gameuser.user.first_name }} created a {{ gameuser.game.gameType }} game @ {{ gameuser.game.gameVenue }}.</p>
        {% endfor %}
    </div>
    <div class="row row-main">
      <h5>Nearby Games</h5>
      <div id="map"></div>
    </div>
    <div class="row row-main">
      <h5>My Games</h5>
      <table class="table table-hover table-profile">
        <thead>
          <tr>
            <th>Type</th>
            <th>Venue</th>
            <th>Location</th>
            <th>Date, Time</th>
          </tr>
        </thead>
        <tbody>
          {% for gameuser in games_list %}
          <tr>
            <td>{{ gameuser.game.gameType }}</td>
            <td>{{ gameuser.game.gameVenue }}</td>
            <td>{{ gameuser.game.gameAddress }}, {{ gameuser.game.gameCity }}, {{ gameuser.game.gameState }} {{ gameuser.game.gameZip }}</td>
            <td>{{ gameuser.game.gameDateTime }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endblock %}